In [2]:
import pandas as pd
data_file = 'GlobalLandTemperaturesByMajorCity.csv.bz2'
weather_data = pd.read_csv(data_file, compression='bz2')
weather_data.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [7]:
# Aufgabe 1
avg_temp_equator = weather_data.loc[(weather_data['Latitude'].astype(str).str[:-1].astype(float) >= -10) & 
                                     (weather_data['Latitude'].astype(str).str[:-1].astype(float) <= 10), 
                                     'AverageTemperature'].mean()
avg_temp_outside_equator = weather_data.loc[(weather_data['Latitude'].astype(str).str[:-1].astype(float) < -10) | 
                                             (weather_data['Latitude'].astype(str).str[:-1].astype(float) > 10), 
                                             'AverageTemperature'].mean()
print(avg_temp_equator)
print(avg_temp_outside_equator)

24.122938217747947
17.32718700802066

In [8]:
# Aufgabe 2
country_highest_avg_temp = weather_data.groupby('Country')['AverageTemperature'].mean().idxmax()

print(country_highest_avg_temp)

Sudan

In [10]:
# Aufgabe 3
filtered_data = weather_data[pd.to_datetime(weather_data['dt']) <= pd.to_datetime("2012-12-31")]
filtered_data = filtered_data[pd.to_datetime(filtered_data['dt']) >= pd.to_datetime("1990-01-01")]
avg_temp_per_year = filtered_data.groupby(pd.to_datetime(filtered_data['dt']).dt.year)['AverageTemperature'].mean()
warmest_year = avg_temp_per_year.idxmax()

print(f"Das wärmste Jahr war: {warmest_year} mit einer Durchschnittstemperatur von {avg_temp_per_year.max()}°C")

Das wärmste Jahr war: 1998 mit einer Durchschnittstemperatur von 19.946030833333335°C