In [3]:
import pandas as pd
data_file = 'GlobalLandTemperaturesByMajorCity.csv.bz2'
weather_data = pd.read_csv(data_file, compression='bz2')
weather_data.head()

,dt,AverageTemperature,AverageTemperatureUncertainty,City,Country,Latitude,Longitude
0,1849-01-01,26.704,1.435,Abidjan,Côte D'Ivoire,5.63N,3.23W
1,1849-02-01,27.434,1.362,Abidjan,Côte D'Ivoire,5.63N,3.23W
2,1849-03-01,28.101,1.612,Abidjan,Côte D'Ivoire,5.63N,3.23W
3,1849-04-01,26.140,1.387,Abidjan,Côte D'Ivoire,5.63N,3.23W
4,1849-05-01,25.427,1.200,Abidjan,Côte D'Ivoire,5.63N,3.23W

In [13]:
# Aufgabe 1
spain_records_count = weather_data[weather_data['Country'] == 'Spain'].shape[0]
print(spain_records_count)

3239

In [9]:
# Aufgabe 2
df_germany = weather_data[weather_data['Country'] == 'Germany']
lowest_temp_germany = df_germany['AverageTemperature'].min()
highest_temp_germany = df_germany['AverageTemperature'].max()
print(lowest_temp_germany)
print(highest_temp_germany)

-10.125
23.795

In [23]:
# Aufgabe 3
max_temp_germany = df_germany['AverageTemperature'].max()
max_temp_france = weather_data[weather_data['Country'] == 'France']['AverageTemperature'].max()
print(max_temp_germany)
print(max_temp_france)

23.795
23.264

In [24]:
# Aufgabe 4
berlin_uncomfortable_count = df_germany[(df_germany['City'] == 'Berlin') & 
                                        ((df_germany['AverageTemperature'] < -9) | 
                                         (df_germany['AverageTemperature'] > 22))].shape[0]
print(berlin_uncomfortable_count)

12

In [25]:
# Aufgabe 5
lowest_temp_china = weather_data.loc[weather_data['Country'] == 'China', 'AverageTemperature'].min()
print(lowest_temp_china)

-26.772